@using RogueFit.ViewModels
@model ShopViewModel

<!DOCTYPE html> 
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="~/css/shopPage.css" />
        <title>Shop Page</title>
    </head>
    <body>
        <header></header>
        <main>
            <section id="section-1-sidebar">
                <div class="container" id="sb-container">
                    <h6>Browse by Category</h6>
                    <ul class="list-group" id="sb-category-list-group">
                    @foreach (var category in Model.Categories)
                    {
                        <li class="list-group-item" id="sb-category-list-group-item">
                            <strong>@category.Name</strong>
                            <ul class="list-group" id="sb-subcategory-list-group">
                                @foreach (var subCategory in category.SubCategories)
                                {
                                    <li class="list-group-item" id="sb-subcategory-list-group-item">
                                        @subCategory.Name
                                        <ul class="list-group" id="sb-tag-list-group">
                                            @foreach (var tag in subCategory.Tags)
                                            {
                                                <li class="list-group-item" id="sb-tag-list-group-item">
                                                    @tag.Name
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                }
                            </ul>
                        </li>

                    }
                </ul>
                </div>
            </section>
            <section id="section-2-navbar">
                <div class="container" id="nav-container" >
                    <div class="container" id="tab-container" >
                        <a asp-controller="" asp-action="" class="btn" id="tab-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                            <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z" />
                            <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z" />
                        </svg>Home
                        </a>
                        <a asp-controller="" asp-action="" class="btn" id="tab-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-heart-fill" viewBox="0 0 16 16">
                            <path d="M2 15.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2zM8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z" />
                        </svg>Wishlist
                        </a>
                        <a asp-controller="" asp-action="" class="btn" id="tab-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-dash-fill" viewBox="0 0 16 16">
                            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0M6.5 7h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1 0-1" />
                        </svg>Cart
                        </a>
                    </div>
                </div>
            </section>
            <section id="section-3-productBox">
                <div class="card-grid" id="product-card-grid">
                @foreach (var item in Model.Products)
                {
                    <div class="card" id="product-card">
                        <img src="@item.Image" class="card-img-top" id="product-card-img" />
                        <div class="card-footer" id="product-card-footer">
                            @item.Name
                            <br />@item.Price
                            <br />@item.Description
                        </div>
                    </div>
                }
            </div>
            </section>
        </main>
        <footer></footer>
    </body>
</html>